:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 3.2em;
}

.App {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: var(--purple-100);
}

.accordion-container {
  width: 500px;

  background-color: var(--white);
  padding: 44px;

  border-radius: 10px;
}

.accordion-title {
  display: flex;
  gap: 1rem;
  margin-bottom: 38px;
}

.accordion-question {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  justify-content: center;
  border-bottom: 1px lightgray solid;
  padding: 1rem 0;
  gap: 1rem;
  overflow: hidden;
}

.accordion-question:hover {
  cursor: pointer;
  color: var(--purple-600);
}

.accordion-content {
  color: lightgray;
  font-weight: 300;
  text-align: justify;
  height: 90px;
  line-height: 1.4;
  grid-column: span 2;
}

@media (max-width: 700px) {
  .App {
    background-image: url("./images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .accordion-container {
    width: 70%;
    padding: 35px;
  }

  .accordion-content {
    height: 160px;
  }
}
