:root {
  --white: hsl(0, 100%, 100%);
  --purple-100: hsl(275, 100%, 97%);
  --purple-600: hsl(292, 16%, 49%);
  --purple-950: hsl(292, 42%, 14%);
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

p {
  font-size: 16px;
}

.App {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./images/background-pattern-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--purple-100);
}

.accordion-container {
  width: 500px;
  background-color: var(--white);
  padding: 2rem;
  padding-bottom: 1rem;
  border-radius: 10px;
}

.accordion-title {
  display: flex;
  gap: 1rem;
}

.accordion-question {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  justify-content: center;
  border-bottom: 1px lightgray solid;
  padding: 1rem 0;
  overflow: hidden;
}

.accordion-question p {
  grid-column: 1;
}

.accordion-question:hover {
  cursor: pointer;
  color: var(--purple-600);
}

.accordion-content {
  color: lightgray;
  font-weight: 400;
  padding-top: 2rem;

  grid-column: span 2;
}

@media (300px <= width <= 700px) {
  .App {
    background-image: url("./images/background-pattern-mobile.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .accordion-container {
    width: 70%;
  }
}
